*.exe
*.mac
*.out
*.pdf
*.png
*.root
*/.compiled
*/.executed
ambe_mc/cluster
ambe_mc/test1
ambe_mc/test2
angular_dist/logs
angular_dist/output
fibre_validation/output
tellie_jobs/logs
tellie_jobs/macros
tellie_jobs/output
tellie_jobs/markstringer
